build/
.env*
__pycache__
dist
.pytest_cache
.coverage

*egg-info*


# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
.idea/
node_modules/
.serverless/
venv/
.dynamodb
logs/

.vscode
pnpm-lock.yaml
.python-version

package-lock.json
package.json
